/* Container Settings */
.container{
    padding-top: 80px;
}

/* Filter */
.eg-order-by-filter{
    text-align: right;
}

/* Sizes */
.eg-sizes p button{
    font-size: 14px;
    height: 40px;
    width: 40px;
    margin: 2px;
    background: #eeeeee;
    border: none;
    border-radius: 50%;
    outline: none;
}
.eg-sizes p button:hover, button:active{
    color: white;
    background: #1d1d1d;
}

/* Product Card */
.eg-product-card{
    background: white;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.eg-product-card:hover{
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(250,250,250,1);
}
.eg-product-card .eg-product-image img{
    width: 100%;
}
.eg-product-card .eg-product-name h3{
    min-height: 60px;
    font-size: 16px;
    margin: 10px 0px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 26px;
    position: relative;
}
.eg-product-card .eg-product-name h3::after {
    background-color: #ffc107; 
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 50px;
}
.eg-product-card .eg-product-name:after{
    width: 50%;
    border-bottom: 5px solid blue;
}
.eg-product-card .eg-product-price p{
    text-align: center;
}
.eg-product-card .eg-product-price .dollar{
    margin-left: 2px;
    font-size: 24px;
    font-weight: 700;
}
.eg-product-card .eg-product-price .cents{
    margin-left: 2px;
    margin-right: 2px;
}
.eg-product-card .eg-product-shipping-type{
    position: absolute;
    top: 10px;
    right: 10px;
}
.eg-product-card .eg-product-shipping-type p{
    font-size: 10px;
    padding: 5px 10px;
    display: inline-block;
    background: black;
    color: white;
    letter-spacing: 0.5px;
}

.eg-product-card .eg-product-sizes, .eg-product-card .eg-product-sizes .single-size{
    display: inline-block;
}
.eg-product-card .eg-product-sizes{
    margin: 5px;
}
.eg-product-card .eg-product-sizes-cancel{
    background: none;
    border: none;
    outline: none;
    padding-bottom: 0px;
    color: #6b6b6b;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    vertical-align: middle;
}
.eg-product-card .eg-product-sizes input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}
.eg-product-card .eg-product-sizes label {
    padding: 5px;
    background: #efefef;
    color: black;
    border: none;
    font-size: 12px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 0px;
}
.eg-product-card .eg-product-sizes input[type="radio"]:checked + label {
    background-color:black;
    color: white;
    border-color: none;
}
.eg-product-card .eg-product-sizes input[type="radio"]:focus + label {
    background-color:black;
    color: white;
    border-color: none;
}
.eg-product-card .eg-product-sizes label:hover{
    background: #dddddd;
    color: black;
    cursor: pointer;
}

.eg-product-card .eg-product-add-to-cart-container{
    min-height: 40px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(250,250,250,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(250,250,250,1);
    box-shadow: 0px 0px 10px 5px rgba(250,250,250,1);
}

.eg-product-card .eg-product-add-to-cart button{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background: black;
    color: white;
    outline: none;
    border: none;
}
.eg-product-card .eg-product-add-to-cart button:hover{
    background: #ffc107;
    color: black;
}

/* Cart */
.cart-open{
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    margin-bottom: 30px;
    z-index: 100;
}
.cart-open button{
    background: #212121;
    border: none;
    padding: 20px 15px 20px 10px;
    outline: none;
}
.cart-view{
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: #212121;
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-out;
}
.cart-close{
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
}
.cart-close button{
    background: #212121;
    border: none;
    padding: 10px;
    outline: none;
}
.cart-close img{
    width: 100%;
}
.cart-footer{
    background: #1b1b1b;
    width: 320px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.cart-subtotal .subtotal-text{
    display: inline-block;
    font-size: 18px;
    color: #4c4c4c;
    letter-spacing: 1px;
}
.cart-subtotal .subtotal-price{
    display: block;
    font-size: 18px;
    color: #ffc107;
    float: right;
    text-align: right;
    letter-spacing: 1px;
}
.cart-checkout button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: black;
    border: none;
    color: #bbbbbb;
    letter-spacing: 1px;
}
.cart-title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 1px solid #333333;
}
.cart-logo-count, .cart-count{
    display: inline;
}
.cart-logo-count{
    position: relative;
}
.cart-count{
    position: absolute;
    bottom: -20px;
    right: -10px;
    background: #ffc107;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.cart-count p{
    display: block;
    color: black;
    text-align: center;
    font-size: 12px;
    margin: 0px;
}
.cart-title h4 {
    display: inline;
    margin-left: 15px;
    vertical-align: middle;
    font-weight: 200;
}
.cart-details{
    height: 100%;
    overflow: scroll;
    background: #212121;
}
.cart-details ul{
    margin-bottom: 250px;
}
#cart-details::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #212121;
}
#cart-details::-webkit-scrollbar
{
	width: 10px;
	background-color: #212121;
}

#cart-details::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

.cart-details h5{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 20px;
}
.cart-details ul{
    padding-left: 0px;
}
.cart-details ul li {
    margin-left: 20px;
    margin-right: 15px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}
.cart-details ul li img{
    margin-top: -70px;
    width: 70px;
    display: inline-block;
}
.cart-details ul li p{
    color: #666666;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
}
.cart-product-image{
    display: inline-block;
}
.cart-product-details{
    display: inline-block;
    margin-left: 20px;
    width: 120px;
}
.cart-product-details h5{
    text-align: left;
}
.cart-product-actions{
    display: inline-block;
    width: 60px;
    text-align: right;
}
.cart-product-actions button{
    outline: none;
    background: none;
    border: none;
    width: 30px !important;
    margin-top: -30px !important;
}
.cart-product-actions img{
    margin-top: -30px !important;
    width: 100% !important;
}
.cart-product-actions p{
    font-size: 16px !important;
    color: #ffc107 !important;
    letter-spacing: 0.7px !important;
    margin-bottom: 10px !important;
}
.cart-product-actions p button{
    background: #333333;
    color: #999999;
    border: none;
    font-weight: 700;
    width: 30px !important;
    text-align: center;
}
.cart-product-increase-qty{
    background: #111111 !important;
    color: white !important;
}
.cart-product-actions p button:hover{
    background: black;
    color: white;
}

/* Delete this test-radio class */
.test-radio input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}
.test-radio input[type="radio"]:checked + label{
    background-color: #efefef;
}
